//color
$white: #fff;
$black: #000;
$primary-color: #3498db;
$danger-color: #e74c3c;
$background-color: #c1bfbf;
$text-color: #333333;
$inactive-color: #dcdcdc;
$highlight-color: #007bff;

//breakpoints
$phone: 375px;
$table: 768px;
$laptop: 1024px;
$desktop: 1920px;

